<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<userSettings>
		<FactoryMethodPattern.Properties.Settings>
			<setting name="ConnectionString" serializeAs="String">
				<value>Write your connection string here</value>
			</setting>
			<setting name="Provider" serializeAs="String">
				<value>Sql</value>
			</setting>
		</FactoryMethodPattern.Properties.Settings>
	</userSettings>
</configuration>