<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DataFactory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <DataFactory.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Write your connection string here</value>
      </setting>
      <setting name="Provider" serializeAs="String">
        <value>Sql</value>
      </setting>
    </DataFactory.Properties.Settings>
  </userSettings>
</configuration>